.mm-font{
    font-size: 18px !important;
}


.authBg{
  background: #0F3A44;
    height: 100vh;
  }
.formIcon{
   background: #EEEEEE;
   border-right: 1px solid black;
}
.authForm{
    width: 40%;
    margin: auto;
}
.authRegBtn{
    color: #DDBB58;
    border: 2px solid #DDBB58;
    background: none;
}
.authBtns{
    width: 60%;
    margin: auto;
 
}
.authForm input{
    border: none;
    outline: none;
    font-size: 20px ;
 }
 .authForm input::placeholder{
    font-size: 20px ;
 }
@media screen and (max-width:800px) {
    .authForm{
        width: 80%;
    }
}
@media screen and (max-width:600px) {
    .authBtns{
        width: 80%;
    }
}
@media screen and (max-width:360px) {
    .authBtns{
        width: 100%;
    }
}